<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <i class="fa fa-home"> </i> <a class="navbar-brand" href="">  My holiday</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav  mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/current']">Current Holiday <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/upcoming']">Upcoming Holiday</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/previous']">Previous Holidays</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/signup']">Sign up</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " [routerLink]="['/signin']">Sign in</a>
        </li>
      </ul>
      <!-- <button  class="alert alert-success float-right" style="margin-top:10px; padding-bottom: 10px"
       role="alert">Welcome {{name}}</button> -->
    </div>
  </nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="jumbotron row homeFooter">
 <ul>
   <li>List 1</li>
   <li>List 2</li>
   <li>List 3</li>
 </ul>
</div>
